<div class="slider bg-dark">

  <!-- SLIDER -->
  <div class="rev_slider_wrapper fullwidthbanner-container">
    <div id="rev-slider1" class="rev_slider fullwidthabanner">
      <ul>
        <li data-transition="fade">
          <!-- Main Image -->
          <img src="/assets/images/uploads-6f480-slide-01.jpg" alt="" data-bgposition="center center" data-no-retina>

          <!-- Layers -->
          <div class="tp-caption tp-resizeme text-white font-heading font-weight-700"
            data-x="['left','left','left','left']" data-hoffset="['20','20','0','0']"
            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
            data-fontsize="['64','54','50','28']" data-lineheight="['66','66','60','35']" data-width="full"
            data-height="none" data-whitespace="normal" data-transform_idle="o:1;"
            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
            data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="700" data-splitin="none"
            data-splitout="none" data-responsive_offset="on">
            <span style="
                        background-color: #1e6db0;
                        transition: none 0s ease 0s;
                        padding-left:10px !important;
                        padding-right:10px !important;">GK RENTAL</span>
          </div>

          <div class="tp-caption sub-title text-white" data-x="['left','left','left','left']"
            data-hoffset="['20','20','0','0']" data-y="['middle','middle','middle','middle']"
            data-voffset="['70','70','60','35']" data-fontsize="['20','20','18','16']"
            data-lineheight="['34','34','34','25']" data-width="full" data-height="none" data-whitespace="normal"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
            data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none"
            data-splitout="none" data-responsive_offset="on">
            <span style="
                        background-color: #1e6db0;
                        transition: none 0s ease 0s;
                        padding-left:10px !important;
                        padding-right:10px !important;">
              Oto Kiralamada Kalite ve Güvenin Adresi...</span>
          </div>
        </li>
        <li data-transition="fade">
          <!-- Main Image -->
          <img src="/assets/images/uploads-9db47-slide-02.jpg" alt="" data-bgposition="center center" data-no-retina>

          <!-- Layers -->
          <div class="tp-caption tp-resizeme text-white font-heading font-weight-700"
            data-x="['left','left','left','left']" data-hoffset="['20','20','0','0']"
            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
            data-fontsize="['64','54','50','28']" data-lineheight="['66','66','60','35']" data-width="full"
            data-height="none" data-whitespace="normal" data-transform_idle="o:1;"
            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
            data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="700" data-splitin="none"
            data-splitout="none" data-responsive_offset="on">
            <span style="
                        background-color: #1e6db0;
                        transition: none 0s ease 0s;
                        padding-left:10px !important;
                        padding-right:10px !important;">GK RENTAL </span>
          </div>

          <div class="tp-caption sub-title text-white" data-x="['left','left','left','left']"
            data-hoffset="['20','20','0','0']" data-y="['middle','middle','middle','middle']"
            data-voffset="['70','70','60','35']" data-fontsize="['20','20','18','16']"
            data-lineheight="['34','34','34','25']" data-width="full" data-height="none" data-whitespace="normal"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
            data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none"
            data-splitout="none" data-responsive_offset="on">
            <span style="
                        background-color: #1e6db0;
                        transition: none 0s ease 0s;
                        padding-left:10px !important;
                        padding-right:10px !important;">
              Siz d&uuml;&#351;&uuml;n&uuml;n biz hallederiz...</span>
          </div>
        </li>
        <li data-transition="fade">
          <!-- Main Image -->
          <img src="/assets/images/uploads-eba81-slide-04.jpg" alt="" data-bgposition="center center" data-no-retina>

          <!-- Layers -->
          <div class="tp-caption tp-resizeme text-white font-heading font-weight-700"
            data-x="['left','left','left','left']" data-hoffset="['20','20','0','0']"
            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
            data-fontsize="['64','54','50','28']" data-lineheight="['66','66','60','35']" data-width="full"
            data-height="none" data-whitespace="normal" data-transform_idle="o:1;"
            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
            data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="700" data-splitin="none"
            data-splitout="none" data-responsive_offset="on">
            <span style="
                        background-color: #1e6db0;
                        transition: none 0s ease 0s;
                        padding-left:10px !important;
                        padding-right:10px !important;">GK RENTAL</span>
          </div>

          <div class="tp-caption sub-title text-white" data-x="['left','left','left','left']"
            data-hoffset="['20','20','0','0']" data-y="['middle','middle','middle','middle']"
            data-voffset="['70','70','60','35']" data-fontsize="['20','20','18','16']"
            data-lineheight="['34','34','34','25']" data-width="full" data-height="none" data-whitespace="normal"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
            data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none"
            data-splitout="none" data-responsive_offset="on">
            <span style="
                        background-color: #1e6db0;
                        transition: none 0s ease 0s;
                        padding-left:10px !important;
                        padding-right:10px !important;">
              Rent A Car &#304;htiya&ccedil;lar&#305;n&#305;z &#304;&ccedil;in &#304;deal
              &Ccedil;&ouml;z&uuml;mler...</span>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>
<div class="container">

  <app-quick-booking></app-quick-booking>
  <app-car></app-car>
</div>