<div class="row">
    <div class="col-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <a href="#" class="text-dark">H&#305;zl&#305; Rezervasyon</a>
        </div>
        <form class="new-search" method="POST" action="https://www.tetricarrental.com/">
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="input_01">&#304;sim &amp; Soyisim</label>
              <input type="text" class="form-control" name="input_01" id="input_01"
                placeholder="&#304;sim &amp; Soyisim" required>
            </div>
            <div class="form-group col-md-3">
              <label for="input_02">E-Posta</label>
              <input type="email" class="form-control" name="input_02" id="input_02" placeholder="E-Posta" required>
            </div>
            <div class="form-group col-md-3">
              <label for="input_03">GSM</label>
              <input type="text" class="form-control" name="input_03" id="input_03" placeholder="GSM" required>
            </div>
            <div class="form-group col-md-3">
              <label for="input_04">Ara&ccedil; Se&ccedil;imi</label>
              <select class="form-control" name="input_04" id="input_04">
                <option value="0">Ara&ccedil; Se&ccedil;iniz!</option>
                <option value="RENAULT CLIO 4">RENAULT CLIO 4</option>
                <option value="RENAULT SYMBOL">RENAULT SYMBOL</option>
                <option value="F&#304;AT DOBLO">F&#304;AT DOBLO</option>
                <option value="FORD COUR&#304;ER">FORD COUR&#304;ER</option>
                <option value="F&#304;AT EGEA">F&#304;AT EGEA</option>
                <option value="N&#304;SSAN M&#304;CRA OTOMAT&#304;K">N&#304;SSAN M&#304;CRA OTOMAT&#304;K</option>
                <option value="SKODA FAB&#304;A OTOMAT&#304;K">SKODA FAB&#304;A OTOMAT&#304;K</option>
                <option value="F&#304;AT DOBLO OTOMAT&#304;K">F&#304;AT DOBLO OTOMAT&#304;K</option>
                <option value="RENAULT FLUENCE  OTOMAT&#304;K">RENAULT FLUENCE OTOMAT&#304;K</option>
                <option value="F&#304;AT EGEA OTOMAT&#304;K">F&#304;AT EGEA OTOMAT&#304;K</option>
                <option value="DAC&#304;A LODGY 7 K&#304;&#350;&#304;L&#304;K">DAC&#304;A LODGY 7
                  K&#304;&#350;&#304;L&#304;K</option>
                <option value="OPEL ASTRA OTOMAT&#304;K">OPEL ASTRA OTOMAT&#304;K</option>
                <option value="DAC&#304;A DUSTER 4X4">DAC&#304;A DUSTER 4X4</option>
                <option value="RENAULT MEGAN OTOMAT&#304;K">RENAULT MEGAN OTOMAT&#304;K</option>
                <option value="SEAT LEON OTOMAT&#304;K">SEAT LEON OTOMAT&#304;K</option>
                <option value="VOLKSWAGEN PASSAT OTOMAT&#304;K">VOLKSWAGEN PASSAT OTOMAT&#304;K</option>
                <option value="MERCEDES-BENZ  C 180">MERCEDES-BENZ C 180</option>
                <option value="SKODA KAROQ OTOMAT&#304;K">SKODA KAROQ OTOMAT&#304;K</option>
                <option value="MERCEDES-BENZ  C200">MERCEDES-BENZ C200</option>
                <option value="&#350;&Ouml;F&Ouml;RL&Uuml; K&#304;RALIK KLAS&#304;K">&#350;&Ouml;F&Ouml;RL&Uuml;
                  K&#304;RALIK KLAS&#304;K</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="input_05">Al&#305;&#351; Lokasyonu</label>
              <select class="form-control" name="input_05" id="input_05">
                <option value="">Lokasyon Se&ccedil;iniz!</option>
                <option value="Bursa">Bursa</option>
                <option value="Samsun">Samsun</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="input_06">Teslim Lokasyonu</label>
              <select class="form-control" name="input_06" id="input_06">
                <option value="">Lokasyon Se&ccedil;iniz!</option>
                <option value="Bursa">Bursa</option>
                <option value="&#304;stanbul (Sabiha G&ouml;k&ccedil;en H.)">&#304;stanbul (Sabiha G&ouml;k&ccedil;en
                  H.)</option>
                <option value="&#304;stanbul (&#304;stanbul H.)">&#304;stanbul (&#304;stanbul H.)</option>
                <option value="Samsun">Samsun</option>
                <option value="&#304;zmir">&#304;zmir</option>
                <option value="Ankara">Ankara</option>
                <option value="Antalya">Antalya</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="input_07">Al&#305;&#351; Tarihi</label>
              <input type="date" class="form-control" name="input_07" id="input_07">
            </div>
            <div class="form-group col-md-3">
              <label for="input_08">Teslim Tarihi</label>
              <input type="date" class="form-control" name="input_08" id="input_08">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
            </div>
            <div class="form-group col-md-6 text-right">
              <button type="submit" name="Gonder" id="Gonder" value="Gonder" class="btn btn-dark">Rezervasyon
                Olu&#351;tur!</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>