<div class="container">

  <div class="subheader">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="subheader-title text-center text-white">Kiralamalar</h1>
          <hr>
        </div>
      </div>
    </div>
  </div>


  <div class="row">

    <div class="col-md-12 text-dark">
      <div *ngIf="dataLoaded==false" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <table *ngIf="dataLoaded==true" class="table table-striped table-light table-hover">
        <thead>
          <tr>
            <th>Araç markası</th>
            <th>Araç modeli</th>
            <th>Müşteri</th>
            <th>Kiralama Başlangıç</th>
            <th>Kiralama Bitiş</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rental of rentalDtos">
            <td>{{rental.carName}}</td>
            <td>{{rental.brandName}}</td>
            <td>{{rental.customerFullName}}</td>
            <td>{{rental.rentDate}}</td>
            <td>{{rental.returnDate}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>