<app-navi></app-navi>

    <div class="col-md-12" style="margin-top: 5px;">
      <router-outlet></router-outlet>
    </div>




   
<section class="main-footer bg-light">
  
  <div class="container">
    <div class="subheader">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="subheader-title text-center text-white">Duyurular</h1>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
     
      <div class="col-12 col-sm-6 col-md-4 col-lg-4">
        <a href="#">
          <img src="/assets/images/no-image.png" class="news-image opacity img-fluid">
          <div class="bgcolor">
            <h5 class="title text-white">LoremipsumLoremipsumemipsumLor</h5>
          </div>
        </a>
        <p></p>
        <p>LoremipsumLoremipsumemipsumLorepsumLorempsum</p>

      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4">
        <a href="#">
          <img src="/assets/images/no-image.png" class="news-image opacity img-fluid">
          <div class="bgcolor">
            <h5 class="title text-white">LoremipsumLoremipsumLoremipsumLoremipsum</h5>
          </div>
        </a>
        <p></p>
        <p>LoremipsumLoremipsumemipsumLorepsumLorempsum</p>

      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4">
        <a href="#">
          <img src="/assets/images/no-image.png" class="news-image opacity img-fluid">
          <div class="bgcolor">
            <h5 class="title text-white">LoremipsumLoremipsLoremipsum</h5>
          </div>
        </a>
        <p></p>
        <p>LoremipsumLoremipsumLoremiLoremipsum</p>

      </div>
    </div>

    <div class="row divider"></div>
  </div>
</section>
<section class="main-footer bg-light">
  <div class="container">
    <div class="row divider"></div>
    <div class="row">
      <div class="col-12 col-md-12">

      </div>
    </div>
    <div class="row divider"></div>
  </div>

</section>

<section class="footer bg-dark text-white footer-text">
  <div class="container">
    <div class="row divider"></div>
    <div class="row">
      <div class="col-12 col-sm-4 col-md-4">
        <h5 class="main-title">Hakkımızda</h5>
        <hr>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum
      </div>
      <div class="col-12 col-sm-4 col-md-4">
        <h5 class="main-title">Duyurular</h5>
        <hr>
        <a href="#" class="text-light">
          <div class="media">

            <img class="align-self-start mr-3 mb-3 news-image bottom-image img-fluid opacity"
              src="/assets/images/no-image.png" alt="">

            <div class="media-body">
              <h6 class="mt-0">LoremipsumLoremipsumemipsum</h6>
            </div>

          </div>
        </a>



      </div>
      <div class="col-12 col-sm-4 col-md-4">
        <h5 class="main-title">İletişim</h5>
        <hr>
        <dl class="row">


          <dt class="col-3 col-sm-3">Telefon</dt>
          <dd class="col-9 col-sm-9">: 0 5xx xxx xx xx</dd>

          <dt class="col-3 col-sm-3">Gsm</dt>
          <dd class="col-9 col-sm-9">: 0 5xx xxx xx xx</dd>

          <dt class="col-3 col-sm-3">E-Posta</dt>
          <dd class="col-9 col-sm-9">: gokhankarakusnet@gmail.com</dd>

          <dt class="col-3 col-sm-3">Web</dt>
          <dd class="col-9 col-sm-9">: www.gokhankarakusnet.com</dd>

          <dt class="col-3 col-sm-3">Adres</dt>
          <dd class="col-9 col-sm-9">: Kayseri</dd>

        </dl>
      </div>
    </div>
    <div class="row divider"></div>
  </div>
</section>

<section class="copyright">
  <div class="container">
    <div class="row">
      <div class="footer_main_left col-12 col-md-6">
        <span>Copyright &copy; 2021 - GK Rental </span>
      </div>

    </div>
  </div>
</section>

<div style="margin: 0px; bottom: 20px; right: 20px; display: block; position: fixed;">
  <a href="https://wa.me/0 5xx xxx xx xx" target="_blank">
    <img style="width:60px;" src="/assets/images/img-whatsapp.png" alt="whatsapp">
  </a>
</div>