
.card {
    margin-bottom: 15px;
  }
  
  .card-body {
    padding: 0 0 15px 0;
  }
  
  .card-img-top {
    height: 250px;
    object-fit: contain;
  }

  .subheader {
    height: 100px;
    background-image: url("/assets/images/img-inner-background.jpg");
    margin-bottom: 1rem;
  }
  .subheader-title {
    display: block;
    margin-top: 35px; 
  }
  .sub-title {
    margin-bottom: 0;
    padding: 10px 5px 0 0;
   }