<div class="container mb-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Yeni Renk Ekle</h5></div>
            <div class="card-body">
                <form [formGroup]="colorAddForm">
                    <label for="name"></label>
                    <div class="form-group mb-3">
                        <input type="text" id="name" formControlName="colorName" class="form-control" placeholder="Renk adı">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-fill btn-success" (click)="addColor()">Ekle</button>
                </div>                
            </div>
        </div>
    </div>
</div>

<div class="container">
    <table class="table">
    <thead>
      <tr>        
        <th scope="col">İsim</th>
        <th scope="col">Güncelle</th>
        <th scope="col">Sil</th>
      </tr>
    </thead>
    <tbody *ngFor="let color of allColors">
      <tr >        
        <td>{{color.colorName}}</td>
        <td><button class="btn btn-success btn-sm" (click)="getColorByColorId(color.colorId)">Güncelle</button></td>
        <td><button class="btn btn-danger btn-sm" (click)="deleteColor(color.colorId)">Sil</button></td>
      </tr>      
    </tbody>
  </table>
</div>

<div *ngIf="selectedColorDataLoaded" class="container mb-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Markayı Güncelle</h5></div>
            <div class="card-body">
                <form [formGroup]="colorUpdateForm">
                    <label for="name">Mevcut isim: {{selectedColor.colorName}}</label>
                    <div class="form-group mb-3">
                        <input type="text" id="name" formControlName="colorName" class="form-control" placeholder="Eski ismi yazıp güncelle butonuna basınız.">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-fill btn-success" (click)="updateColor()">Güncelle</button>
                </div>                
            </div>
        </div>
    </div>

</div>
